.degree-item {
    margin-bottom: 1rem;
}

.degree-title {
    letter-spacing: 3px;
    font-size: 14px;
}

.degree-item a {
    text-decoration: none;
    border-bottom: #686565 dotted 1px;
}

.degree-item a:hover {
    color: black;
    border-bottom-color: black;
}

.degree-item a, span {
    color: #686565;
    font-size: 12px;
    letter-spacing: 3px;
}