article.main {
    background-color: white;
    grid-column-start: 2;
    grid-column-end: 4;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.213);
    margin: 4rem 3rem 1rem 1rem;
    padding: 3rem;
}

article header.header-main h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900;
}

article header.header-main {
    margin-bottom: 3rem;
}

article .content {
    margin-top: 3rem;
}

article header.header-main h2 {
    letter-spacing: 3px;
    font-size: 12px;
    line-height: 30px;
    color: gray;
    font-weight: 300    ;
}

h2.resume-title-topic {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 2rem 0 2rem 0;
}