div.contacts li {
    display: block;
    padding: 0.4rem 0;
}

div.contacts li a {
    text-decoration: none;
}

.link-style  {
    color: #202a45;
    font-weight: 300;
}

.link-style:hover {
    color: #202a45;
    font-weight: 400;   
}
